body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    background-color: whitesmoke;
}

.heading{
    font-weight: bold;
}

.content{
    color: black;
}

.label{
    font-weight: bold;
}

.vertical-center{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.toppane{
    width: 100%;
    height: 6.5%;
    background-color: steelblue;
}

#header{
    font-size: 22pt;
    font-weight: bold;
    color: white;
    border-collapse: collapse;
    margin: 0;
    padding-left: 6pt;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tabpane{
    width: 100%;
    height: 90%;
    color: white;
    border-collapse: collapse;
}

.display{
    width: 100%;
    height: 87%;
}

#rleftpane{
    position: relative;
    float: left;
    width: 50%;
}

#rrightpane{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.rinput{
    width: 100%;
}

textarea{
    width: 100%;
    height: 200px;
    overflow-y : auto;
    resize: none;
}

.rcinput{
    width: 85%;
}

#rmapcanvas{
    width: 100%;
    height: 87%;
}

.manage_panel{
    width: 100%;
    height: 92%;
    overflow: auto;
    border: 1px solid;
}

.manage_panel::-webkit-scrollbar{
    display: none;
}

.bframea{
    text-align: justify;
    color:#222222;
    text-decoration: none;
    margin: 1px;
    padding: 4px;
    background-color: #cccccc;
}

.bframeb{
    text-align: justify;
    color:#222222;
    text-decoration: none;
    margin: 1px;
    padding: 4px;
    background-color: gainsboro;
}

#block{
    width: 99%;
}

#mmapcanvas{
    width: 95%;
    height: 90%;
    float: right;
}