body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1rem;
    font-weight:400;
    line-height:1.2;
    color:#212529;
    text-align:left;
    background-color: whitesmoke;
}

.label{
    font-weight: bold;
}

.vertical-center{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.toppane{
    width: 100%;
    height: 6.5%;
    background-color: steelblue;
}

#header{
    font-size: 24pt;
    font-weight: bold;
    color: white;
    border-collapse: collapse;
    margin: 0;
    padding-left: 6pt;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tabpane{
    width: 100%;
    height: 93.5%;
    color: white;
    border-collapse: collapse;
    background-color: lightslategray;
}

.display{
    width: 100%;
    height: 86%;
}

#rleftpane{
    position: relative;
    float: left;
    width: 50%;
}

#rrightpane{
    position: relative;
    float: left;
    width: 50%;
}

#rmapcanvas{
    height: 100%;
}