<html>
    <head>
        <link rel=stylesheet type="text/css" href="../static/main.css">
        <!--Basic settings above-->

        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function(){
                $("#tabs").tabs();
            });
        </script>
        <!--Tabs code above-->


        <script type="text/javascript" src="../schema/data.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

        <script type="text/javascript">
		
		    var Data = {{ data | tojson }};
			
            var report_map;
            var ClusterGroup = L.markerClusterGroup();
            var markerLayer = new L.LayerGroup();
            var clusterON = false;

            var myIconA = L.icon({iconUrl: 'https://i.imgur.com/5MxyKei.png'});
            var myIconC = L.icon({iconUrl: 'https://i.imgur.com/8xoH4xR.png'});
     
            function initialize(){
                report_map = L.map("rmapcanvas").setView([24.99, 121.55], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {minZoom: 8, maxZoom: 16}).addTo(report_map);
                addCluster();
                getUserPosition();
                clusterON = true;
                report_map.on('click', onMapClick);
            }
            
            var temp  = new L.marker([0,0]);
/*
            function onMapClick(e){
                temp.setLatLng(e.latlng).addTo(report_map).bindPopup("<b>Incident Location</b>").openPopup();
                document.getElementById("lat").value = e.latlng.lat;
                document.getElementById("lon").value = e.latlng.lng;
            
            }*/
			
			function getUserPosition() {
				// 檢查瀏覽器是否支援 Geolocation API
				if(navigator.geolocation) {

				// 定義成功的回呼函式
				function showPosition(position) {
				  L.marker([position.coords.latitude, position.coords.longitude], {icon:myIconC,}
				  ).addTo(report_map).bindPopup("<b>You're here!</b>").openPopup();
				  report_map.setView([position.coords.latitude, position.coords.longitude], 12);
				  
				  document.getElementById("lat").value = position.coords.latitude;
				  document.getElementById("lon").value = position.coords.longitude;
				}

				// 定義失敗的回呼函式
				function showError() {
				  console.log('抱歉，現在無法取的您的地理位置。')
				}

				navigator.geolocation.getCurrentPosition(showPosition, showError);

			  } else {
				console.log('抱歉，您的裝置不支援定位功能。');
		  	  }
            }
              
            // Cluster
            function addCluster(){
                for(var p in Data){
                    var x = parseFloat(Data[p]['lat']);
                    var y = parseFloat(Data[p]['lon']);
                    var info2 =
                    "<b>Topic: "+ Data[p]['Condition'] 
                    + "</b><br>Description: "+Data[p]['Description']
                    +"<br>Location："+Data[p]['Location']+"";
            
                    var marker = L.marker([x, y], {icon: myIconA,}).bindPopup(info2);
                    ClusterGroup.addLayer(marker);
                }			
                report_map.addLayer(ClusterGroup);	
            }
  
        </script>
        <!--Leaflet code above-->

    </head>
    
    <body onload="initialize()">
        <!--Header Section-->
        <div class="toppane">
            <p id="header">NCCU Stray/Injured Animals Reporting Platform</p>
        </div>
        
        <!--Tabs Section-->
        <div class="tabpane">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Home</a></li>
                    <li><a href="#tabs-2">Report</a></li>
                    <li><a href="#tabs-3">Browse/Manage</a></li>
                    <li><a href="#tabs-4">Statistics</a></li>
                    <li><a href="#tabs-5">Information</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="display">
                        <p class="heading">Introduction</p>
                        <p class="content">1.</p>
                        <hr>
                        <p class="heading">Site Map</p>
                        <p class="content">1.</p>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="display">
                        <p class="content">To report any kind of cases, please fill in the topic, descriptions, 
                            and labels to help the managers or associates better classify and identify the matter
                            to intend to.
                        </p>
                        <hr>
                        <div id="rleftpane">
                            <table style="margin-top: 10px;">
                                <tr>
                                    <td><p class="label">Topic</p></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="rinput" value="" id="con" width="100vh"></td>
                                </tr>
                                <tr>
                                    <td><p class="label"><br>Description</p></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="rinput" value="" id="des"></td>
                                </tr>
                                <tr>
                                    <td><p class="label"><br>Labels</p></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="rinput" value="" id="loc" ></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td><p class="label"><br>Coordinates</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="rcinput" value="longitude" id="lon">
                                    </td>
                                    <td>
                                        <input type="text" class="rcinput" value="latitude" id="lat">
                                    </td>
                                    <td>
                                        <input type="button" class="label" value="submit" id="rsubmit" onclick= "AddData()">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="rrightpane">
                            <div id="rmapcanvas"></div>
                        </div>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="display">
                        <p class="heading">hi</p>
                        <p class="content">hi</p>
                        <hr>
                        <div class="manage_panel" name="manage_panel">
                            {% for news in top_news_list_2 %}
                                <a style="text-decoration: none" href={{ news['link']}}>
                                    <div style="font-size: 10pt; text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 9px; background-color: gainsboro; cursor: pointer;">
                                        {{ news['title']}}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="display">
                        <p class="heading">hi</p>
                        <p class="content">hi</p>
                    </div>
                </div>
                <div id="tabs-5">
                    <div class="display">
                        <p class="heading">Information</p>
                        <p class="content">hi</p>
                        <hr>
                        <p class="heading">Contact</p>
                        <p class="content"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>