<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <!--Basic settings above-->

        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function(){
                $("#tabs").tabs();
            });
        </script>
		
        <!--Tabs code above-->
   

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

        <script type="text/javascript">
		 
            var Data = {{ data | tojson }};
			
            var report_map;
            var ClusterGroup1 = L.markerClusterGroup();
			var ClusterGroup2 = L.markerClusterGroup();
            var markerLayer = new L.LayerGroup();
            var clusterON = false;
			var manage_map;
			

            var myIconA = L.icon({iconUrl: 'https://i.imgur.com/5MxyKei.png'});
            var myIconC = L.icon({iconUrl: 'https://i.imgur.com/8xoH4xR.png'});
     
            function initialize(){
                report_map = L.map("rmapcanvas").setView([24.99, 121.55], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {minZoom: 8, maxZoom: 16}).addTo(report_map);

                getUserPosition(1);
                clusterON = true;
                report_map.on('click', onMapClick_R);
				
				manage_map = L.map("mmapcanvas").setView([24.99, 121.55], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {minZoom: 8, maxZoom: 16}).addTo(manage_map);
                addCluster(2);
                getUserPosition(2);
                clusterON = true;
                manage_map.on('click', onMapClick_M);
            }
            
            var temp_R  = new L.marker([0,0]);
			var temp_M  = new L.marker([0,0]);

            function onMapClick_R(e){
                temp_R.setLatLng(e.latlng).addTo(report_map).bindPopup("<b>Incident Location</b>").openPopup();
                document.getElementById("lat").value = e.latlng.lat;
                document.getElementById("lon").value = e.latlng.lng;
            
            }
			function onMapClick_M(e){
                temp_M.setLatLng(e.latlng).addTo(manage_map).bindPopup("<b>Incident Location</b>").openPopup();  
            }
			
			function getUserPosition(n) {
				// 檢查瀏覽器是否支援 Geolocation API
				if(navigator.geolocation) {

				// 定義成功的回呼函式
				function showPosition(position) {
				if(n == 1){
				  L.marker([position.coords.latitude, position.coords.longitude], {icon:myIconC,}
				  ).addTo(report_map).bindPopup("<b>You're here!</b>").openPopup();
				  report_map.setView([position.coords.latitude, position.coords.longitude], 12);
				  
				}
				else{
				 L.marker([position.coords.latitude, position.coords.longitude], {icon:myIconC,}
				  ).addTo(manage_map).bindPopup("<b>You're here!</b>").openPopup();
				  manage_map.setView([position.coords.latitude, position.coords.longitude], 12);
				  
				}
				  document.getElementById("lat").value = position.coords.latitude;
				  document.getElementById("lon").value = position.coords.longitude;
				}

				// 定義失敗的回呼函式
				function showError() {
				  console.log('抱歉，現在無法取的您的地理位置。')
				}

				navigator.geolocation.getCurrentPosition(showPosition, showError);

			  } else {
				console.log('抱歉，您的裝置不支援定位功能。');
		  	  }
            }
              
            // Cluster
            function addCluster(n){
			     if( n ==1 ){
					for(var p in Data){
						var x = parseFloat(Data[p]['lat']);
						var y = parseFloat(Data[p]['lon']);
						var info2 =
						"<b>Topic: "+ Data[p]['Condition'] 
						+ "</b><br>Description: "+Data[p]['Description']
						+"<br>Location："+Data[p]['dis']+"";
				
						var marker = L.marker([x, y], {icon: myIconA,}).bindPopup(info2);
						ClusterGroup1.addLayer(marker);
					}			
					report_map.addLayer(ClusterGroup1);	
				}
				else{
					for(var p in Data){
						var x = parseFloat(Data[p]['lat']);
						var y = parseFloat(Data[p]['lon']);
						var info2 =
						"<b>Topic: "+ Data[p]['Condition'] 
						+ "</b><br>Description: "+Data[p]['Description']
						+"<br>Location："+Data[p]['dis']+"";
				
						var marker = L.marker([x, y], {icon: myIconA,}).bindPopup(info2);
						ClusterGroup2.addLayer(marker);
					}			
					manage_map.addLayer(ClusterGroup2);					
				}
            }
				
			
        </script>
        <!--Leaflet code above-->
        
        
        <meta charset="UTF-8">
        <script src="{{ url_for('static', filename='d3min.js') }}"></script>
        <script>
            window.addEventListener('load',function(){
            
            //  Bar Chart
			
            var data = {{ data | tojson }} ;
			var no = {{ data2 | tojson }} ;
			
			console.log(data);
			
			var counter = {
			 "中正區":0 ,
			 "大同區":0 ,
			 "中山區":0 ,
			 "松山區":0 ,
			 "大安區":0 ,
			 "萬華區":0 ,
			 "信義區":0 ,
			 "士林區":0 ,
			 "北投區":0 ,
			 "內湖區":0 ,
			 "南港區":0 ,
			 "文山區":0 
			 }
			 
			var a_day = new Array(10);
			var s_day = new Array(10);
			for (var i=0;i<10;i++){
	            a_day[ i ]=0;
				s_day[ i ]=0;
			}
			   
			for (var ptr in data){
			   counter[ data[ptr].dis ]+=1;
			   a_day[ Math.floor((data[ptr].dat-1)/3 )]+=1;
			   if( data[ptr].sv==1 ){ s_day[ Math.floor((data[ptr].dat-1)/3) ]+=1;}
			}
	
		    var counter_array = [ ];
			var day_array = [];
			
			for (var ptr in counter){
                counter_array.push({"n":ptr,"c":counter[ptr]})	;	                			
			}
			for (var i=0;i<10;i++){
			    day_array.push({"x":i,"a": a_day[i],"s": s_day[i]})	;	
			}
	        console.log(s_day);	
			console.log(day_array);
        
            var s = d3.select('.test')
                    .append('svg')
                    .attr({
                        'width':400,
                        'height':350
                    });
                    
            var num = s.append('g')
            .attr({'id':'num' });
            
            var name = s.append('g')
            .attr({'id':'name'});
            
            var nowChart = 1;
              
            document.getElementById("change_to_w").onclick = function(){
                if( nowChart == 2){
                    document.getElementById("chartName").innerHTML="【本月各日總案件數】";
                    nowChart = 1;
                    _transition();
                }
            }
            document.getElementById("change_to_v").onclick = function(){
                if( nowChart ==1 ){
                    document.getElementById("chartName").innerHTML="【本月各日解決案件數】";
                    nowChart = 2;
                    _transition();
                }
            }
            

            s.selectAll('rect')
            .data(day_array)
            .enter()
            .append('rect')
            .attr({
            'fill':'#09c',
            'width':0,
            'height':30,
            'x':45,
            'y':function(d){
                return (d.x) * 35;
            }
            })
            .transition()
            .duration(1500)
            .attr({
            'width':function(d){
                return d.a*20 ;
            }
            });

            num.selectAll('text')
            .data(day_array)
            .enter()
            .append('text')
            .text(function(d){
            return 0 ;
            })
            .attr({
            'fill':'#000',
            'x':48,
            'y':function(d){
                  return (d.x) * 35 +20;
            }
            })
            .transition()
            .duration(1500)
            .attr({
            'x':function(d){
                return d.a*20 + 48;
            }
            })
            .tween('number',function(d){
                var i = d3.interpolateRound(0, d.a);
                return function(t) {
                this.textContent = i(t);
                };
            });
            
            function _transition(){

                s.selectAll('rect')
                .data(day_array)
                .transition()
                .duration(1500)
                .attr({
                'width':function(d){
                    if( nowChart==1){ return d.a*20 ; }
                    else{ return d.s*20 ; }
                }
                });

                s.selectAll('text')
                .data(day_array)
                .transition()
                .duration(1500)
                .attr({
                'x':function(d){
                    if( nowChart==1){
                      return d.a*20 + 48;
                    }
                    else{
                      return d.s*20 + 48;
                    }
                 },
				'y':function(d){
                      return (d.x) * 35 +20;
				 }
                })
                .tween('number',function(d){
                    if( nowChart==1){ var i = d3.interpolateRound(d.s, d.a);}
                    else{var i = d3.interpolateRound(d.a, d.s);}
                    return function(t) {
                    this.textContent = i(t);
                };
                });			  
                    
            } 
                
            name.selectAll('text')  ///name
            .data(day_array)
            .enter()
            .append('text')
            .attr({
            'fill':'#000000',		
            'x':0,
            'y':function(d){
                return (d.x) * 35 +20;
            }
            }).text(function(d){
            return (((d.x+1)*3-2)+"~"+((d.x+1)*3));
            }).style({
            'font-size':'12px'
            });
        

            //  Pie Chart
			
            var w = 300,                        
                h = 300,                            
                r = 150,                            
            color = d3.scale.category20c();     

            var vis = d3.select(".test2")
                .append("svg:svg")              
                .data([counter_array])   //                
                    .attr("width", w)           
                    .attr("height", h)
                .append("svg:g")                
                    .attr("transform", "translate(" + r + "," + r + ")")    
			
            var arc = d3.svg.arc()              
                .outerRadius(r);

            var pie = d3.layout.pie()           
                .value(function(d){ return d.c;});    

            var arcs = vis.selectAll("g.slice")     
                .data(pie)                           
                .enter()                            
                    .append("svg:g")                
                        .attr("class", "slice");    

                arcs.append("svg:path")
                        .attr("fill", function(d, i) { return color(i); } ) 
                        .attr("d", arc);                                    

                arcs.append("svg:text")                                     
                        .attr("transform", function(d) {                    
                    
                        d.innerRadius = 0;
                        d.outerRadius = r;
                        return "translate(" + arc.centroid(d) + ")";       
                    })
                    .attr("text-anchor", "middle")                         
                    .text(function(d, i) { 
					if(counter_array[i].c==0){return "";}
					else{return (counter_array[i].n+" "+counter_array[i].c);}
					})
                    .style({
                            'font-size':'12px'
                    });  
             console.log("end");					
            },false);
        </script>
		<!--D3 code above-->

    </head>
    
    <body onload="initialize()">
        <!--Header Section-->
        <div class="toppane">
            <p id="header">Animal Reporting Platform of Taipei City</p>
        </div>
        
        <!--Tabs Section-->
        <div class="tabpane">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Home</a></li>
                    <li><a href="#tabs-2">Report</a></li>
                    <li><a href="#tabs-3">Browse/Manage</a></li>
                    <li><a href="#tabs-4">Statistics</a></li>
                    <li><a href="#tabs-5">Information</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="display">
                        <p class="heading">Introduction</p>
                        <p class="content">The campus of National Chengchi University is located at the foot of the mountain hills, with abundance 
                            of wild or stray animal presence. In case of danger or incidents where human intervention was needed, students are prone to 
                            share information on social media. But due to the general lack of management and the use of applications that weren't designed 
                            for this specific purpose, the spread of information can often be quite inefficient. To solve this problem, we've built this very 
                            site, in hope to better the aforementioned situation, and to serve a larger, more general crowd at the same time.
                        </p>
                        <br><hr><br>
                        <p class="heading">Site Map</p>
                        <p class="content">
                            <table>
                                <tr>
                                    <td>Home:</td>
                                    <td></td>
                                    <td>Brief introduction and guidance.</td>
                                </tr>
                                <tr>
                                    <td>Report:</td>
                                    <td></td>
                                    <td>Anyone can report cases here.</td>
                                </tr>
                                <tr>
                                    <td>Browse/Manage:</td>
                                    <td></td>
                                    <td>Anyone can view and check the reported cases, with only administrators allowed to update information.</td>
                                </tr>
                                <tr>
                                    <td>Statistics:</td>
                                    <td></td>
                                    <td>Trends and analytical insights demonstrated visually</td>
                                </tr>
                                <tr>
                                    <td>Information:</td>
                                    <td></td>
                                    <td>For help or suggestions, check out this section.</td>
                                </tr>
                            </table>
                        </p>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="display">
                        <p class="content">To report any kind of cases, please fill in the topic, descriptions, 
                            and labels to help the managers or associates better classify and identify the matter
                            to intend to.
                        </p>
                        <hr>
                        <div id="rleftpane">
                            <form action="main.html" method="get">
								<table style="margin-top: 10px; width: 560px;">
						
                                <tr>
                                    <td><p class="label">Topic</p></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="rinput" value="" id="con" name="con"></td>
                                </tr>
                                <tr>
                                    <td><p class="label"><br>Description</p></td>
                                </tr>
                                <tr>
                                    <td><textarea id="des" name="des">please describe as detailed as possible</textarea></td>
                                </tr>
                                <tr>
                                    <td><p class="label"><br>Areas</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="rcinput" id="dis" name="dis">
                                            <option value="中正區">中正區</option>
                                            <option value="大同區">大同區</option>
                                            <option value="中山區">中山區</option>
                                            <option value="松山區">松山區</option>
                                            <option value="大安區">大安區</option>
                                            <option value="萬華區">萬華區</option>
                                            <option value="信義區">信義區</option>
                                            <option value="士林區">士林區</option>
                                            <option value="北投區">北投區</option>
                                            <option value="內湖區">內湖區</option>
                                            <option value="南港區">南港區</option>
                                            <option value="文山區">文山區</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td><p class="label"><br>Coordinates</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="rcinput" value="longitude" id="lon" name="lon">
                                    </td>
                                    <td>
                                        <input type="text" class="rcinput" value="latitude" id="lat" name="lat">
                                    </td>
                                    <td>
                                        <input type="submit" class="label" value="submit" id="rsubmit">
                                    </td>
                                </tr>			
                            </table>
							</form>
                        </div>
                        <div id="rrightpane">
                            <div id="rmapcanvas"></div>
                        </div>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="display">
                        <p class="content">All reported cases are shown below. Only administrators of the site can manage and update their status.</p>
                        <hr>
                        <div id="rleftpane">
                            <div class="manage_panel" name="manage_panel">
                                {% for case in data %}
                                    <div style="text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 4px; background-color: gainsboro; cursor: pointer;">
                                        <table id="block">
                                            <tr>
                                                <td width="11%" align="center">{{ case['mth']}}/{{ case['dat']}}</td>
                                                <td width="66%">{{ case['Condition']}}</td>
                                                <td width="22%" align="right"><input type="button" value="Details"></td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="rrightpane">
                            <div id="mmapcanvas"></div>
                        </div>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="display">
                        <p class="content">Statistics of cases reported and managed are showcased visually below.</p>

                        <div id="rleftpane">
							<p class="heading">2020年6月回報案件相關數據</p>
							<p class="content" id ="chartName">【本月各日總案件數】</p>
							<div class="test" style="text-align:left"></div>
							<input type="button" value="本月各日解決案件數" id="change_to_v">
							<input type="button" value="本月各日總案件數" id="change_to_w">							
                        </div>
                        <div id="rrightpane">
                            <p class="content">【台北各區案件數】</p>
							<div class="test2" style="text-align:left"></div>
                        </div>
                    </div>
                </div>
                <div id="tabs-5">
                    <div class="display">
                        <p class="heading">Information</p>
                        <p class="content">The Reporting Platform was designed and constructed by NCCU student Cheng-Hsi Yang and Yu-Shan Wu. 
                            In partial requirements for the course "Web Programming", as term project, in spring semester of the academic year 2019.
                        </p>
                        <br><hr><br>
                        <p class="heading">Contact</p>
                        <p class="content">To get help or to make feature suggestions, you could contact us through university email, id 106308049 and 
                            107702000, respectively.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>